.flex {
    display: flex;
}

h1 {
    /*font-family: Consolas; font-size: 40px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 40px; } h3 { font-family: Consolas, monaco, monospace; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Consolas, monaco, monospace; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Consolas, monaco, monospace; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Consolas, monaco, monospace; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5667px;*/
    color: rgb(254,149,94);
    font-family: Consolas;
    text-align: center;
    justify-content: center;
    /*text-shadow: 1px 2px 2px rgb(253,79,128); */
}

h2 {
    color: rgb(253,79,128);
    font-family: Bahnschrift;
    text-align: left;
    justify-content: center;
    /*text-shadow: 1px 2px 2px rgb(250,44,142);*/
}

h3 {
    color: rgb(250,44,142);
    font-family: Bahnschrift;
    text-align: left;
    text-decoration: underline;
    /*text-shadow: 1px 1px 1px rgb(215,11,144); */
}

body {
    background-color: rgb(45, 40, 50);
}

p {
    color:rgb(180, 180, 180);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*text-shadow: 1px 2px 2px rgb(110, 110, 110);*/
    
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color:rgb(180, 180, 180);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(38,61,70);
  }
.active {
    background-color: rgb(62,123,149);

  }